.featured__hero__card {
  height: 16rem;
  width: 32rem;
  margin-right: 96px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 5px 15px #a3a2a2;
  background-color: whitesmoke;
}

.featured__hero__card:nth-of-type(2n) {
  margin-right: 0;
}

.featured__hero__card:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 15px #a3a2a2;
}

.featured__hero__text {
  width: 32rem;
  height: 100%;
  position: absolute;
  padding-left: 40%;
  top: 0;
}

.featured__hero__name {
  margin: 20px 0 10px 0;
}

.featured__hero__img {
  height: 16rem;
  width: 12rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.featured__hero__powerstats {
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.featured__hero__powerstats__icon {
  height: 18px;
}

.featured__hero__powerstats > div {
  position: relative;
}

.featured__hero__powerstats > div > progress {
  width: 11rem;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  right: 20px;
}

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left, tomato, rgb(187, 74, 54));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 6px;
}

.featured__hero__powerstats > div > span {
  width: 11rem;
  position: absolute;
  top: 2px;
  left: 36.3%;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
