.featured__hero__card {
  height: 30rem;
  width: 19rem;
  margin-bottom: 50px;
  position: relative;
  border-radius: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 5px 15px #a3a2a2;
  background-color: whitesmoke;
  color: black;
}

.featured__hero__card:nth-of-type(2n) {
  margin-right: 0;
}

.featured__hero__card:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 15px #a3a2a2;
}

.featured__hero__text {
  width: 19rem;
  height: 100%;
  position: absolute;
  padding: 75% 15px 15px 15px;
  top: 0;
}

.featured__hero__name {
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.featured__hero__img {
  height: 14rem;
  width: 19rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-position: center;
  background-size: cover;
}

.featured__hero__powerstats {
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.featured__hero__powerstats__icon {
  height: 1.1rem;
}

.featured__hero__powerstats > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.featured__hero__powerstats > div > label {
  font-size: 1rem;
}

.featured__hero__powerstats > div > progress {
  width: 11rem;
  height: 1.2rem;
  -webkit-appearance: none;
  appearance: none;
  right: 10px;
}

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(left, tomato, rgb(187, 76, 56));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  border-radius: 6px;
}

.featured__hero__powerstats > div > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 1.2rem;
  position: absolute;
  top: 2.5px;
  left: 39.9%;
  font-size: 1.1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .featured__hero__card {
    width: 20rem;
  }

  .featured__hero__img {
    width: 20rem;
  }

  .featured__hero__text {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .featured__hero__card {
    margin-right: 120px;
  }
}

@media (min-width: 1440px) {
  .featured__hero__card {
    height: 16rem;
    width: 32rem;
    margin-right: 96px;
  }

  .featured__hero__img {
    height: 16rem;
    width: 12rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: unset;
  }

  .featured__hero__text {
    width: 32rem;
    padding: 15px 15px 15px 40%;
  }
}
