@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400&display=swap');

body {
  font-family: 'Newsreader', serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

footer > .container > p > a {
  text-decoration: none;
  color: coral;
}

footer > .container > p > a:hover {
  text-decoration: none;
  color: rgb(199, 53, 0);
}
