@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 18px;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

footer {
  margin-top: 80px;
}

footer > .container > p > a {
  text-decoration: none;
  color: coral;
}

footer > .container > p > a:hover {
  text-decoration: none;
  color: rgb(199, 53, 0);
}
