.navi {
  width: 100%;
  height: 80px;
  background-color: black;
  margin-bottom: 80px;
}

.navi > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 70px;
}

.nav__search {
  position: relative;
}

.nav__search > input {
  width: 15rem;
  height: 1.8rem;
  border-radius: 10px;
  padding-left: 15px;
  border: none;
}

button {
  position: absolute;
  top: 1.5px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
}
